<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haichi</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <script>
        $(function () {
            var str = '#len'; //increment by 1 up to 1-nelemnts
            $(document).ready(function () {
                var i, stop;
                i = 1;
                stop = 4; //num elements
                setInterval(function () {
                    if (i > stop) {
                        return;
                    }
                    $('#len' + (i++)).toggleClass('bounce');
                }, 500)
            });
        });
    </script>

    <ul>
        <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('student') }}">Student</a></li>
        <li><a href="{{ url_for('TPO') }}">TPO</a></li>
        <li><a href="{{ url_for('company') }}">Company</a></li>
      </ul>

    <div>
        <h3>Team 404 Present's</h3>
    </div>

    <div>
        <h3>Haichi Protoype</h3>
    </div>

    <div>
        <img src="static/Team Images/s.jpeg" alt="Team Image" width="200" height="200">
    </div>

    <div>
        <img src="static/Team Images/a.jpeg" alt="Team Image" width="200" height="200">
        <img src="static/Team Images/R.jpeg" alt="Team Image" width="200" height="200">
        <img src="static/Team Images/k.jpeg" alt="Team Image" width="200" height="200">
        <img src="static/Team Images/n.jpeg" alt="Team Image" width="200" height="200">
        <img src="static/Team Images/m.jpeg" alt="Team Image" width="200" height="200">
    </div>

    <!-- home container id starts -->
    <!-- <div id="home-container"> -->
        <!-- inner sub id starts -->
        <!-- <div id="inner">
            <img src="static/logo.png" alt="Haichi logo" id="logo">
            <h1>Hai + Chi = Haichi</h1>
            <p class="subtitle">One Stop Solution to all Placement Needs</p> -->
            <!-- <a href="#" class="cta cta--white ">Login or signup</a> -->
        <!-- </div> -->
        <!-- inner sub id ends -->

        <!-- illustration sub id starts -->
        <!-- <div id="illustration">
            <img src="static/dash.svg" alt="dash img" id="dash" class="crypto-icons">
            <img src="static/miota.svg" alt="iota img" id="iota" class="crypto-icons">
            <img src="static/eth.svg" alt="eth img" id="eth" class="crypto-icons">
            <img src="static/monitor.svg" alt="monitor img" id="monitor">
        </div> -->
        <!-- illustration sub id ends -->
    <!-- </div> -->
    <!-- home container id ends -->
    <!-- <footer id="footer">
        Made with ❤ By:-
        <br>
        Ritik Miglani, Aman Saini, Kritika Sagar, Nimisha Pareek, Madhulika Ghosh
    </footer> -->
</body>

</html>